#canvas {
    vertical-align: top;
    border-radius : 5px;
}
form {
    display: inline-block;
}

#config_panel{
    float :right;
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 20px;
}


input[type="range"] {
    position: relative;
    margin-left: 1em;
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: "flux faible";
}
input[type="range"]:after {
    right: 0em;
    content: "flux élevé";
}